.footer{
    width: 1820;
height: 711;
gap: 50px;
padding-top: 100px;
padding-right: 113px;
padding-bottom: 40px;
padding-left: 113px;
top: 5087px;
left: 46px;
border-radius: 12px;
border-width: 2px;
border: 2px solid black;
margin-top: 100px;
box-shadow: 6px 6px 0px 2px #1E1E1E;

}